[Unit]
Description=Install Nextcloud Apps
After=nextcloud-dev.service
Requires=nextcloud-dev.service

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=/opt/nextcloud
User=core
Group=core
Environment=PATH=/opt/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin
ExecStart=/opt/bin/nextcloud-install-apps.sh

[Install]
WantedBy=multi-user.target