[Unit]
Description=Run Collabora Check and Fix Script
After=nextcloud-install-apps.service

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=/opt/nextcloud
User=core
Group=core
Environment=PATH=/opt/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin
ExecStart=/opt/bin/run-collabora-check.sh

[Install]
WantedBy=multi-user.target